fastapi
uvicorn
pydantic
google-generativeai
python-jose[cryptography]

# venv\Scripts\activate
# pip install -r requirements.txt
# uvicorn src.main:app --reload

# Invoke-WebRequest -Uri "http://127.0.0.1:8000/chat" `
#   -Method POST `
#   -Headers @{
#     "Content-Type" = "application/json"
#     "Authorization" = "Bearer <JWT from jwt.io*>" 
#   } `
#   -Body '{ "prompt": "Hello" }'

#* eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0dXNlciIsIm5hbWUiOiJKb2huIERvZSIsImlhdCI6MTUxNjIzOTAyMn0.AAdwZuS8nzTh0CFXffD1SkTQzO3zD0m3Fnipz8Rj1Ws
